#container {width: 1000px; margin: 0 auto; text-align: center;}
.liner {height: 100px;}
.info-container {display: inline; width: 100px; height: 100px;}
.info-container a{display: inline-block; height: 100px;}